.contract-box {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contract-box-form-container {
  display: flex;
  justify-content: center;
  margin: 48px;
}

.contract-box-form {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
